body {
  margin: 0;
  font-family: "poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  color: var(--custom-black);
}

/* @font-face {
font-family: "RushingNightShade";
src: url("./static/fonts/rushing_nightshade.ttf") format("truetype"); /* Safari, Android, iOS
}
*/

.ReactModal__Overlay--after-open {
  background-color: rgb(137 137 137 / 62%) !important;
}
.ReactModal__Content.ReactModal__Content--after-open {
  width: 100%;
}
:root {
  --custom-primary-bg: #e9ece6;
  --custom-secondry-bg: #f3f3f2;
  --custom-border-color: #707070;
  --custom-white: #fff;
  --custom-input-bg: #0d0d17;
  --custom-black: #1b203d;
  --custom-btn-bg: #c0dfd9;
  --custom-transparent: #c0dfd900;
  --custom-txt-color: #707070;

  --custom-cream-color: #c0fdd4;
  --custom-muted-text-color: #6c757d;
  --custom-txt-white: #ffffff81;
  --custom-txt-logo: #1ab7fd;
  --custom-topbar-bg: #2a3f5a;
  --custom-footer-txt: #d3dcec;
  --custom-background-grey: rgba(230, 230, 230, 1);
  --custom-light-line_break-color: rgba(245, 245, 245, 1);
  --custom-deep-line_break-color: rgba(140, 140, 140, 1);
  --custom-blue-color: #0275d8;
  --custom-green-color: #4b9339;
  --color-change-transition: 200ms ease-in-out color;
  /* duetics code */

  /* fonts sizes */
  --font-74: 74px;
  --font-52: 52px;
  --font-48: 48px;
  --font-42: 42px;
  --font-32: 32px;
  --font-26: 26px;
  --font-22: 22px;
  --font-18: 18px;
  --font-16: 16px;
  --font-14: 14px;
  --font-12: 12px;
  --font-10: 10px;

  /* font family */
  --logo-font: "RushingNightShade", sans-serif;
  --font-1: "Quicksand", sans-serif;
  --font-2: "Merriweather", serif;
}
body {
  background-color: var(--custom-primary-bg);
}

*:not(i) {
  font-family: "Roboto", sans-serif;
}

root {
  font-size: 16px;
}

::-webkit-scrollbar {
  background: var(--custom-input-border);
  height: 4px;
  width: 4px;
  margin: 0;
  padding: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--custom-input-border);
  height: 4px;
  width: 4px;
  margin: 0;
  padding: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--custom-btn-bg);
  height: 4px;
  width: 4px;
  margin: 0;
  padding: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--custom-btn-bg);
  height: 4px;
  width: 4px;
  margin: 0;
  padding: 0;
}
